@import '../../node_modules/material-design-icons/iconfont/material-icons.css';

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
}

ul {
  margin: 0;
}

li {
  padding: 0;
  list-style-type: none;
}

.content {
  margin-top: 48px;
  margin-left: calc(72px + 256px);
  margin-bottom: 48px;
  margin-right: 72px;
  min-height: 400px;
}
