:local {

  .files {
    // font-size: 13px;
    list-style-type: none;
    padding-left: 0;
  }

  .filesOpened {
    @extend .files;
  }

  .filesClosed {
    @extend .files;
    display: none;
  }

  .icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    position: relative;
    top: 2px;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .fs {
    display: block;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #eee;
    &:before {
      @extend .icon;
      padding-right: 0.5em;
    }
    &:hover {
      background-color: #ddd;
    }
    &:before {
      @extend .icon;
    }
  }

  .file {
    @extend .fs;
    &:before {
      content: "insert_drive_file";
    }
  }

  .dir {
    @extend .fs;
    &:after {
      @extend .icon;
      float: right;
    }
  }

  .dirOpened {
    @extend .dir;
    &:before {
      content: "folder_open"
    }
    &:after {
      content: "arrow_drop_down"
    }
  }

  .dirClosed {
    @extend .dir;
    &:before {
      content: "folder";
    }
    &:after {
      content: "arrow_drop_up"
    }
  }

}
